<ul class="chart">
	<li class="low"></li>
	<li class="low"></li>
	<li class="high"></li>
	<li class="high"></li>
	<li class="high"></li>
	<li class="low"></li>
	<li class="low"></li>
	<li class="low"></li>
	<li class="high"></li>
	<li class="high"></li>
	<li class="med"></li>
	<li class="med"></li>
	<li class="low"></li>
	<li class="low"></li>
	<li class="low"></li>
	<li class="low"></li>
	<li class="high"></li>
	<li class="med"></li>
	<li class="med"></li>
	<li class="high"></li>
	<li class="med"></li>
	<li class="med"></li>
	<li class="low"></li>
	<li class="low"></li>
</ul>