<div class="parking-result hide">
	<header class="result-top">
		<div class="address"></div>
		<div class="meter">

			<div class="result-wrap">
				<div class="result"></div>
			</div>
			<div class="tick-marks">
				<div class="tick hour">0</div>
				<div class="tick">15</div>
				<div class="tick selected">30</div>
				<div class="tick">45</div>
				<div class="tick hour">1</div>
				<div class="tick">15</div>
				<div class="tick">30</div>
				<div class="tick">45</div>
				<div class="tick hour">2</div>
			</div>
		</div>
		<div class="message-container">

			<h3>Looks clear for the next <span class="meter-time">30 minutes</span></h3>
			<a class="history-btn" href="#"></a>
		</div>
	</header>
	<%= erb :history %>
</div>