<ol class="time-label">
	<li>12</li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li>6</li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li>12</li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li>6</li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ol>