/* line 17, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 53, ../../sass/styles.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 57, ../../sass/styles.scss */
html {
  overflow: hidden;
  min-height: 300px !important;
}

/* line 62, ../../sass/styles.scss */
body {
  background: #000;
  font-family: Helvetica, Arial, sans-serif;
  color: #444;
  overflow: hidden;
}

/* line 69, ../../sass/styles.scss */
a {
  color: #444;
  text-decoration: none;
}

/* line 74, ../../sass/styles.scss */
.pull-right {
  float: right;
}

/* line 78, ../../sass/styles.scss */
.shadow-top {
  height: 6px;
  opacity: .5;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF000000', endColorstr='#FF000000');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0icmdiYSgwLCAwLCAwLCAwKSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
}

/* line 91, ../../sass/styles.scss */
#map {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  z-index: 1;
}

/* line 102, ../../sass/styles.scss */
.navbar {
  width: 100%;
  height: 44px;
  display: block;
  background: #cc0000;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  border-bottom: solid 1px #b30000;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5), inset 0 0 8px #b30000;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5), inset 0 0 8px #b30000;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5), inset 0 0 8px #b30000;
}

/* line 116, ../../sass/styles.scss */
.logo {
  width: 130px;
  height: 30px;
  background: url("/img/2x-sprites.png") 0 0 no-repeat;
  background-size: 360px;
  float: left;
  margin: 7px;
  margin-left: 10px;
}

/* line 126, ../../sass/styles.scss */
.navbar a {
  border: none;
  float: left;
  height: 36px;
  width: 36px;
  margin: 4px;
  position: relative;
  background: transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
}
/* line 137, ../../sass/styles.scss */
.navbar a:active, .navbar a:focus, .navbar a.active {
  background: rgba(0, 0, 0, 0.1);
}
/* line 140, ../../sass/styles.scss */
.navbar a:last-child {
  margin-left: 0;
}
/* line 143, ../../sass/styles.scss */
.navbar a i {
  height: 30px;
  width: 30px;
  display: block;
  position: absolute;
  left: 3px;
  top: 3px;
}
/* line 151, ../../sass/styles.scss */
.navbar a.search i {
  background: url("/img/2x-sprites.png") 0 0 no-repeat;
  background-size: 360px;
  background-position: -131px 0;
}
/* line 156, ../../sass/styles.scss */
.navbar a.my-location i {
  background: url("/img/2x-sprites.png") 0 0 no-repeat;
  background-size: 360px;
  background-position: -162px -1px;
}

/* line 163, ../../sass/styles.scss */
.search-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 4px;
  background: rgba(0, 0, 0, 0.6);
  height: 44px;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 176, ../../sass/styles.scss */
.search-container.show {
  top: 44px;
}
/* line 179, ../../sass/styles.scss */
.search-container input {
  width: 100%;
  font-size: 16px;
  padding: 4px;
  border: none;
  border-bottom: 2px solid #999999;
  margin: 4px 0 0 0;
  color: #FFF;
  font-family: Helvetica, Arial, sans-serif;
  background: transparent;
  -webkit-transition-property: background-color, border-color;
  -moz-transition-property: background-color, border-color;
  -o-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
  -webkit-transition-duration: 150ms;
  -moz-transition-duration: 150ms;
  -o-transition-duration: 150ms;
  transition-duration: 150ms;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 193, ../../sass/styles.scss */
.search-container input:focus, .search-container input:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  background: rgba(0, 0, 0, 0.3);
  border-color: #cc0000;
}
/* line 200, ../../sass/styles.scss */
.search-container .icon-remove {
  position: absolute;
  right: 2px;
  top: 5px;
  opacity: .5;
}
/* line 205, ../../sass/styles.scss */
.search-container .icon-remove:hover, .search-container .icon-remove:focus, .search-container .icon-remove.active {
  opacity: 1;
}

/* line 211, ../../sass/styles.scss */
.icon-remove {
  height: 30px;
  width: 30px;
  background: url("/img/2x-sprites.png") 0 0 no-repeat;
  background-size: 360px;
  display: block;
  background-position: -226px 0;
}

/* line 220, ../../sass/styles.scss */
.container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

/* line 229, ../../sass/styles.scss */
.parking-result {
  position: absolute;
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
  background: #f4f4f4;
  z-index: 2;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-box-shadow: 0 6px 8px 8px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 6px 8px 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 6px 8px 8px rgba(0, 0, 0, 0.6);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-delay: 3000ms;
  -moz-transition-delay: 3000ms;
  -o-transition-delay: 3000ms;
  transition-delay: 3000ms;
  -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 245, ../../sass/styles.scss */
.parking-result.hide {
  -webkit-transform: translate3d(0, 160px, 0);
  -moz-transform: translate3d(0, 160px, 0);
  -ms-transform: translate3d(0, 160px, 0);
  -o-transform: translate3d(0, 160px, 0);
  transform: translate3d(0, 160px, 0);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 250, ../../sass/styles.scss */
.parking-result header {
  background: url("/img/semi-dark-texture.png") 0 0 repeat;
  z-index: 3;
  width: 100%;
  color: #FFF;
}
/* line 256, ../../sass/styles.scss */
.parking-result section {
  background: #222;
  z-index: 2;
  height: 0;
  width: 100%;
  position: relative;
  -webkit-transition-property: height;
  -moz-transition-property: height;
  -o-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 266, ../../sass/styles.scss */
.parking-result section .shadow-top {
  opacity: 1;
  top: 0;
}
/* line 272, ../../sass/styles.scss */
.parking-result.show-partial {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  height: 153px;
}
/* line 277, ../../sass/styles.scss */
.parking-result.show-full {
  -webkit-transform: translate3d(0, -219px, 0);
  -moz-transform: translate3d(0, -219px, 0);
  -ms-transform: translate3d(0, -219px, 0);
  -o-transform: translate3d(0, -219px, 0);
  transform: translate3d(0, -219px, 0);
}
/* line 280, ../../sass/styles.scss */
.parking-result h4 {
  display: block;
  text-align: center;
  font-weight: bold;
  color: #666;
  font-size: 14px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.3);
}

/* line 291, ../../sass/styles.scss */
.address {
  color: #DADADA;
  font-weight: 100;
  font-size: 20px;
  padding: 8px 14px 7px 14px;
  margin-bottom: 10px;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.3);
}

/* line 301, ../../sass/styles.scss */
.meter {
  height: auto;
  display: block;
  margin: 10px;
  margin-top: 0;
  position: relative;
}

/* line 309, ../../sass/styles.scss */
.message-container {
  position: relative;
  font-size: 18px;
  padding: 10px;
  padding-top: 0;
}
/* line 316, ../../sass/styles.scss */
.message-container h3 {
  width: 100%;
  padding-right: 52px;
  color: #b3bca3;
  text-shadow: 0 -1px 0 black;
}

/* line 324, ../../sass/styles.scss */
.meter-time {
  color: #fcfcfc;
  display: block;
}

/* line 329, ../../sass/styles.scss */
.history-contain {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 30px;
  left: 0;
  padding: 10px;
  padding-bottom: 0;
  background: #222;
  overflow-y: scroll;
}

/* line 341, ../../sass/styles.scss */
.history-btn {
  background: transparent url("/img/2x-sprites.png") 0 0 no-repeat;
  background-position: -189px 3px;
  background-size: 360px;
  position: absolute;
  right: 10px;
  top: 0;
  height: 40px;
  width: 40px;
  line-height: 40px;
  color: #444;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  display: block;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
}
/* line 363, ../../sass/styles.scss */
.history-btn:active, .history-btn:focus {
  background-color: rgba(255, 255, 255, 0.075);
}

/* line 368, ../../sass/styles.scss */
.day {
  background: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #333333;
  margin-bottom: 10px;
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 374, ../../sass/styles.scss */
.day h5 {
  color: #666;
  padding: 4px;
  margin-bottom: 4px;
  text-align: center;
}
/* line 380, ../../sass/styles.scss */
.day:last-child {
  margin-bottom: 30px;
}

/* line 385, ../../sass/styles.scss */
.chart {
  padding: 6px;
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
}
/* line 394, ../../sass/styles.scss */
.chart:first-child {
  margin-top: 0;
}
/* line 398, ../../sass/styles.scss */
.chart li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  height: 12px;
  margin-right: 2px;
  background: #333;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
/* line 404, ../../sass/styles.scss */
.chart li.low {
  background-color: #75a83e;
}
/* line 407, ../../sass/styles.scss */
.chart li.med {
  background-color: #f0ca47;
}
/* line 410, ../../sass/styles.scss */
.chart li.high {
  background-color: #cc0000;
}
/* line 413, ../../sass/styles.scss */
.chart li:first-child {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
}
/* line 416, ../../sass/styles.scss */
.chart li:last-child {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 422, ../../sass/styles.scss */
.tick-marks {
  display: -moz-box;
  display: -webkit-box;
  display: box;
  background: #272727;
  padding: 4px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom: 1px solid #5e5e5e;
}
/* line 430, ../../sass/styles.scss */
.tick-marks .tick {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  text-align: center;
  font-size: 11px;
  vertical-align: baseline;
  line-height: 14px;
  color: #555;
  height: 14px;
  position: relative;
  top: 1px;
  font-weight: 900;
}
/* line 443, ../../sass/styles.scss */
.tick-marks .tick.hour {
  top: 0;
  font-size: 14px;
  color: #bfbfbf;
}

/* line 452, ../../sass/styles.scss */
.result-wrap {
  overflow: hidden;
  z-index: 1;
  height: 29px;
  position: relative;
  display: block;
  background: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #414141;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-box-shadow: inset 0 0 6px #1e1e1e;
  -moz-box-shadow: inset 0 0 6px #1e1e1e;
  box-shadow: inset 0 0 6px #1e1e1e;
}

/* line 464, ../../sass/styles.scss */
.parking-result.hide .result {
  width: 0%;
}

/* line 468, ../../sass/styles.scss */
.parking-result .result {
  width: 30%;
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-delay: 3500ms;
  -moz-transition-delay: 3500ms;
  -o-transition-delay: 3500ms;
  transition-delay: 3500ms;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 477, ../../sass/styles.scss */
.result {
  width: 0;
  height: 20px;
  background: #cc0000;
  background-size: 12px 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -webkit-box-shadow: 0 0 6px #111111;
  -moz-box-shadow: 0 0 6px #111111;
  box-shadow: 0 0 6px #111111;
  -webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #4e7029;
  border-top: 1px solid #8ec158;
  position: absolute;
  left: 4px;
  top: 4px;
  background-color: #75a83e;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.1)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.1)), color-stop(0.75, rgba(255, 255, 255, 0.1)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0));
}
/* line 495, ../../sass/styles.scss */
.result:after {
  background: #689537;
  -webkit-box-shadow: inset 0 0 4px #4e7029;
  -moz-box-shadow: inset 0 0 4px #4e7029;
  box-shadow: inset 0 0 4px #4e7029;
  height: 12px;
  width: 12px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  content: " ";
  position: absolute;
  right: 4px;
  top: 3px;
}

/* line 508, ../../sass/styles.scss */
.pin-wrap {
  position: absolute;
  left: 50%;
  top: 35%;
  height: 24px;
  width: 24px;
  display: block;
  z-index: 999;
}

/* line 518, ../../sass/styles.scss */
.pin {
  display: block;
  height: 24px;
  width: 24px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
/* line 529, ../../sass/styles.scss */
.pin.main {
  background-color: #75a83e;
  -webkit-animation-delay: 500ms;
  -webkit-animation-duration: 500ms;
  -webkit-animation-name: earth-open;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -webkit-animation-iteration-count: 1;
  -moz-animation-delay: 500ms;
  -moz-animation-duration: 500ms;
  -moz-animation-name: earth-open;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-iteration-count: 1;
  -o-animation-delay: 500ms;
  -o-animation-duration: 500ms;
  -o-animation-name: earth-open;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-iteration-count: 1;
  animation-delay: 500ms;
  animation-duration: 500ms;
  animation-name: earth-open;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-iteration-count: 1;
  z-index: 99999;
  -webkit-box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.3), inset 0 2px 1px rgba(255, 255, 255, 0.3), 0 3px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.3), inset 0 2px 1px rgba(255, 255, 255, 0.3), 0 3px 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.3), inset 0 2px 1px rgba(255, 255, 255, 0.3), 0 3px 6px rgba(0, 0, 0, 0.5);
}
/* line 535, ../../sass/styles.scss */
.pin.main:after {
  height: 10px;
  width: 10px;
  background: #5b8330;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -5px 0 0 -5px;
  content: " ";
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: inset 0 0 3px #415d23;
  -moz-box-shadow: inset 0 0 3px #415d23;
  box-shadow: inset 0 0 3px #415d23;
}
/* line 548, ../../sass/styles.scss */
.pin.pulse {
  opacity: 1;
  background: transparent;
  z-index: 9999;
  -webkit-animation-delay: 2000ms;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-name: pulse-glow;
  -webkit-animation-fill-mode: none;
  /* this prevents the animation from restarting! */
  -webkit-animation-iteration-count: infinite;
  -moz-animation-delay: 2000ms;
  -moz-animation-duration: 2000ms;
  -moz-animation-name: pulse-glow;
  -moz-animation-fill-mode: none;
  /* this prevents the animation from restarting! */
  -moz-animation-iteration-count: infinite;
  -o-animation-delay: 2000ms;
  -o-animation-duration: 2000ms;
  -o-animation-name: pulse-glow;
  -o-animation-fill-mode: none;
  /* this prevents the animation from restarting! */
  -o-animation-iteration-count: infinite;
  animation-delay: 2000ms;
  animation-duration: 2000ms;
  animation-name: pulse-glow;
  animation-fill-mode: none;
  /* this prevents the animation from restarting! */
  animation-iteration-count: infinite;
}

/* line 556, ../../sass/styles.scss */
.loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1px;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition-property: opactiy;
  -moz-transition-property: opactiy;
  -o-transition-property: opactiy;
  transition-property: opactiy;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 569, ../../sass/styles.scss */
.loading.show {
  display: block;
  opacity: 1;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}
/* line 575, ../../sass/styles.scss */
.loading .loading-content {
  text-align: center;
  position: absolute;
  width: 240px;
  height: auto;
  color: #FFF;
  font-weight: bold;
  text-shadow: 0 -1px 0 black;
  left: 50%;
  top: 40%;
  margin-left: -120px;
}
/* line 587, ../../sass/styles.scss */
.loading h4 {
  font-size: 18px;
  margin-bottom: 16px;
}

/* line 593, ../../sass/styles.scss */
.btn {
  position: relative;
  display: block;
  width: 100px;
  color: #FFF;
  padding: 8px 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 600, ../../sass/styles.scss */
.btn.cancel {
  text-align: left;
  background: #cc0000;
  margin: 0 auto;
  -webkit-box-shadow: 0 4px 0 #990000, inset 0 1px 0 #ff3333, 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 4px 0 #990000, inset 0 1px 0 #ff3333, 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 0 #990000, inset 0 1px 0 #ff3333, 0 0 20px rgba(0, 0, 0, 0.8);
}
/* line 605, ../../sass/styles.scss */
.btn.cancel i {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 610, ../../sass/styles.scss */
.btn.cancel:active {
  top: 3px;
  background: #b30000;
  -webkit-box-shadow: 0 1px 0 #990000, inset 0 1px 0 #ff3333, 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 1px 0 #990000, inset 0 1px 0 #ff3333, 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 1px 0 #990000, inset 0 1px 0 #ff3333, 0 0 20px rgba(0, 0, 0, 0.8);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 620, ../../sass/styles.scss */
  .logo {
    background-size: 360px;
  }
}
@-webkit-keyframes pulse-glow {
  /* line 627, ../../sass/styles.scss */
  0% {
    -webkit-box-shadow: 0 0 0px #75a83e;
  }

  /* line 630, ../../sass/styles.scss */
  50% {
    -webkit-box-shadow: 0 0 40px #75a83e;
  }

  /* line 633, ../../sass/styles.scss */
  100% {
    -webkit-box-shadow: 0 0 0px #75a83e;
  }
}

@-moz-keyframes pulse-glow {
  /* line 639, ../../sass/styles.scss */
  0% {
    -moz-box-shadow: 0 0 0px #75a83e;
  }

  /* line 642, ../../sass/styles.scss */
  50% {
    -moz-box-shadow: 0 0 40px #75a83e;
  }

  /* line 645, ../../sass/styles.scss */
  100% {
    -moz-box-shadow: 0 0 0px #75a83e;
  }
}

@-o-keyframes pulse-glow {
  /* line 651, ../../sass/styles.scss */
  0% {
    -o-box-shadow: 0 0 0px #75a83e;
  }

  /* line 654, ../../sass/styles.scss */
  50% {
    -o-box-shadow: 0 0 40px #75a83e;
  }

  /* line 657, ../../sass/styles.scss */
  100% {
    -o-box-shadow: 0 0 0px #75a83e;
  }
}

@keyframes pulse-glow {
  /* line 663, ../../sass/styles.scss */
  0% {
    box-shadow: 0 0 0px #75a83e;
  }

  /* line 666, ../../sass/styles.scss */
  50% {
    box-shadow: 0 0 40px #75a83e;
  }

  /* line 669, ../../sass/styles.scss */
  100% {
    box-shadow: 0 0 0px #75a83e;
  }
}

/* line 674, ../../sass/styles.scss */
.pulse-glow {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -o-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes earth-open {
  /* line 685, ../../sass/styles.scss */
  0% {
    -webkit-transform: scale3d(0, 0, 1);
  }

  /* line 688, ../../sass/styles.scss */
  60% {
    -webkit-transform: scale3d(1.2, 1.2, 0);
    opacity: 1;
  }

  /* line 692, ../../sass/styles.scss */
  80% {
    -webkit-transform: scale3d(0.9, 0.9, 0);
    opacity: 1;
  }

  /* line 696, ../../sass/styles.scss */
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@-moz-keyframes earth-open {
  /* line 703, ../../sass/styles.scss */
  0% {
    -moz-transform: scale3d(0, 0, 1);
  }

  /* line 706, ../../sass/styles.scss */
  60% {
    -moz-transform: scale3d(1.2, 1.2, 0);
    opacity: 1;
  }

  /* line 710, ../../sass/styles.scss */
  80% {
    -moz-transform: scale3d(0.9, 0.9, 0);
    opacity: 1;
  }

  /* line 714, ../../sass/styles.scss */
  100% {
    -moz-transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@-o-keyframes earth-open {
  /* line 721, ../../sass/styles.scss */
  0% {
    -o-transform: scale3d(0, 0, 1);
  }

  /* line 724, ../../sass/styles.scss */
  60% {
    -o-transform: scale3d(1.2, 1.2, 0);
    opacity: 1;
  }

  /* line 728, ../../sass/styles.scss */
  80% {
    -o-transform: scale3d(0.9, 0.9, 0);
    opacity: 1;
  }

  /* line 732, ../../sass/styles.scss */
  100% {
    -o-transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes earth-open {
  /* line 739, ../../sass/styles.scss */
  0% {
    transform: scale3d(0, 0, 1);
  }

  /* line 742, ../../sass/styles.scss */
  60% {
    transform: scale3d(1.2, 1.2, 0);
    opacity: 1;
  }

  /* line 746, ../../sass/styles.scss */
  80% {
    transform: scale3d(0.9, 0.9, 0);
    opacity: 1;
  }

  /* line 750, ../../sass/styles.scss */
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/* line 756, ../../sass/styles.scss */
.earth-open {
  -webkit-animation-name: earth-open;
  -moz-animation-name: earth-open;
  -o-animation-name: earth-open;
  animation-name: earth-open;
}
